.navbar-color { 
    /* 导航栏背景颜色 */
    background-color: aqua;
}
.fbody{
    /* 轮播图背景颜色 */
    background-color:#f0f0f8 ;
    /* 轮播图距上30px */
    padding-top: 30px;
}

.ybody{
    /* 主页部分背景颜色 */
    margin-top: 20px;
    
}
.ybody a{
    /* 主页部分a标签颜色 */
    color: #00b86b;
}
.xbody{
    /* 限时秒杀背景颜色 */
    background-color:#f0f0f8 ;
    /* 限时秒杀距上20px */
    padding-top: 20px;
    /* 限时秒杀距上边框10px */
    margin-top: 10px;
}
.slsg {
    /* 身临食感部分 */
    margin: 0 300px;
    background-image: url(../img/slsg2.png);
    background-size: cover;
}

.slsg-tab {
    padding-top: 180px;
}

.slsg-body {
    padding-left: 50px;
    /* padding-top: 30px; */
}



.xsms1-body {
    background-image: url(../img/xsms.jpg);
    width: 200px;
    height: 250px;
    text-align: center;
    margin-bottom: 90px;
}
/* 上、右、下、左 */
.xsms1-body h1 {
    padding-top: 10px;
    padding-bottom: 75px;
}

.xsms-main {
    /* 限时秒杀背景图片 */
    background-image: url(../img/bk.png);
    width: 100%;
    height: 250px;

}
/* 秒杀倒计时控件 */
.countdouwn span:before {
    content: "";
    position: absolute;
    bottom: -280px;
    left: 0;
    /* width: 100%; */
    height: 35px;
    color: rgb(255, 255, 255);
    font-size: 0.35em;
    line-height: 35px;
    font-weight: 300;
  }

  .countdouwn #day:before {
    content: "";
  }

  .countdouwn #hour:before {
    content: "";
  }

  .countdouwn #minute:before {
    content: "";
  }

  .countdouwn #second:before {
    content: "";
  }
/* 限时秒杀悬浮窗控件实现 */
.box {
    /* width: 982px; */
    height: 250px;
    /* margin: 100px auto; */
}
.box a {
    text-decoration: none;
}
.box h4:hover {
    color: #00b86b;
}
.smallbox {
    width: 235px;
    height: 240px;
    margin-left: 44px;
    margin-top: 10px;
    float: left;
    /* background-color: #fff; */
    /* css3效果过渡 */
    transition: all .2s linear;
}
.box .smallbox img {
    height: 160px;
    margin: 0 37.5px 12px; 
}
.box .smallbox h4 {
    margin: 0 10px 2px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.box .smallbox .conten {
    font-size: 12px;
    color: #b0b0b0;
    text-align: center;
    margin: 0 auto;
}
.box .smallbox .price {
    color: #ff6700;
    font-size: 14px;
    text-align: center;
}
.smallbox:hover {
    /* 盒子阴影 */
    box-shadow: 4px 20px 40px 5px rgba(0, 0, 0, .1); 
    /* 盒子向上移动效果，改变上外边距 */
    margin-top: 8px;
}
/* 身临食感悬浮窗控件实现 */
.boxx {
    /* width: 982px; */
    height: 320px;
    margin: 0 auto;
    background-color: #fff;
}
.boxx a {
    text-decoration: none;
}
.boxx h3 {
    color: #000;
}
.smallbo {
    width: 185px;
    height: 160px;
    margin-left: 24px;
    margin-top: 10px;
    float: left;
    /* background-color: #fff; */
    /* css3效果过渡 */
    transition: all .2s linear;
}
.boxx .smallbo img {
    margin: 0 0 12px; 
}
.boxx .smallbo h3 {
    margin: 0 10px 2px;
    color: #000000;
    font-size: 20px;
    /* font-weight: 400; */
    text-align: center;
}
.boxx .smallbo .conten {
    font-size: 12px;
    color: #b0b0b0;
    text-align: center;
    margin: 3px auto 20px;
}
.boxx .smallbo .price {
    color: #ff6700;
    font-size: 14px;
    float: left;
}
.boxx .smallbo .xl {
    color: #e45d03;
    font-size: 10px;
    float: right;
}
.smallbo:hover {
    /* 盒子阴影 */
    box-shadow: 4px 20px 40px 5px rgba(0, 0, 0, .1); 
    /* 盒子向上移动效果，改变上外边距 */
    margin-top: 8px;
}
.box .aa {
    margin-left: 0;    
}
/* 底部商品悬浮窗控件实现 */
.boxs {
    /* width: 982px; */
    height: 320px;
    margin: 0 auto 20px;
    background-color: #fff;
}
.boxs a {
    text-decoration: none;
}
.boxs h3 {
    color: #000;
}
.smallb {
    width: 185px;
    height: 160px;
    margin-left: 45px;
    margin-top: 20px;
    float: left;
    /* background-color: #fff; */
    /* css3效果过渡 */
    transition: all .2s linear;
}
.boxs .smallb img {
    margin: 0 0 12px; 
}
.boxs .smallb h3 {
    margin: 0 10px 2px;
    color: #000000;
    font-size: 20px;
    /* font-weight: 400; */
    text-align: center;
}
.boxs .smallb .conten {
    font-size: 12px;
    color: #b0b0b0;
    text-align: center;
    margin: 3px auto 20px;
}
.boxs .smallb .price {
    color: #ff6700;
    font-size: 18px;
    float: left;
}
.boxs .smallb .xl {
    color: #e45d03;
    font-size: 10px;
    float: right;
}
.smallb:hover {
    /* 盒子阴影 */
    box-shadow: 4px 20px 40px 5px rgba(0, 0, 0, .1); 
    /* 盒子向上移动效果，改变上外边距 */
    margin-top: 12px;
    margin-right: 15px;
}
.stp div{
    display: block;
}
/* 底部商品左右窗点击控件 */
.sp{
    background-image: linear-gradient(to bottom right, #7FD1AE, #00C6C2);
    height: 250px; 
    width: 215px;
    padding-top: 15px;
    padding-left: 4px;
    float: left;
}

.sp,.ssp h1{
    text-align: center;
}
.sssp{
    margin-left: 39px;
}
.ssp{
    float: right;
    background-image: linear-gradient(to bottom right,#00C6C2, #7FD1AE);
    height: 250px; 
    width: 230px;
    padding-top: 15px;
    padding-left: 4px;
    /* float: left; */

}
.spp{
    float: left;
}
/* 尾部样式 */
footer {
    margin: button auto;
    background: #333333;
    width: 100%;
    color: #ccc;
}

footer .buttom {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

footer .buttom .tagline {
    padding: 50px 0 30px;
    width: 1200px;
    margin: 0 auto;
}

footer .buttom .tagline p {
    font-size: 14px;
}

footer .buttom .tagline p:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../img/tu3.png) no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}

footer .buttom .tagline h3 {
    margin: 20px 0;
    color: #FEBA10;
    font-weight: lighter;
}

footer .message {
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
}

footer .message .bt-left {
    width: 790px;
    margin: 40px 0;
    color: #ccc;
    float: left;
}

footer .message .bt-left li {
    display: inline-block;
    width: 380px;
    margin: 10px 0;
    font-size: 14px;
}

footer .message .bt-left li:before {
    content: '';
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
    display: inline-block;
}

footer .message .bt-left li:nth-of-type(1):before {
    background: url(../img/tu4.png) no-repeat;
}

footer .message .bt-left li:nth-of-type(2):before {
    background: url(../img/tu5.png) no-repeat;
}

footer .message .bt-left li:nth-of-type(3):before {
    background: url(../img/tu6.png) no-repeat;
}

footer .message .bt-left li:nth-of-type(4):before {
    background: url(../img/tu2.png) no-repeat;
}

footer .message .bt-left li:nth-of-type(5):before {
    background: url(../img/tu7.png) no-repeat;
}

footer .message .bt-left p {
    padding-top: 30px;
    font-size: 12px;
}

footer .message .bt-right {
    width: 400px;
    margin: 40px 0;
    font-size: 12px;
    float: right;
}

footer .message .bt-right span {
    width: 100px;
    display: inline-block;
    text-align: center;
    margin: 0 15px;
}

footer .message .bt-right span p {
    padding-top: 5px;
}
/* 按钮样式颜色更改 */
.float-nav-exp {
    position: fixed;
    right: 6px;
    bottom: 50px;
    z-index: 6;
  }
  .float-nav-exp .nav-menu .item {
    border: 1px solid #F1F2F3;
    border: 1px solid var(--line_light);
    box-sizing: border-box;
    border-radius: 6px;
    width: 40px;
    margin-bottom: 12px;
    transition: all 0.3s;
    cursor: pointer;
    color: #18191C;
    color: var(--text1);
    fill: #18191C;
    fill: var(--text1);
    text-align: center;
    padding: 8px 0 4px 0;
    background-color: #FFFFFF;
    background-color: var(--bg1_float);
  }
  .float-nav-exp .nav-menu .item.issue,
  .float-nav-exp .nav-menu .item.goback {
    padding: 8px 4px 4px;
    line-height: 14px;
  }
  .float-nav-exp .nav-menu .item.mini.on {
    color: #00AEEC;
    color: var(--brand_blue);
    fill: #00AEEC;
    fill: var(--brand_blue);
  }
  .float-nav-exp .nav-menu .item.mini.on:hover {
    color: #fff;
    fill: #fff;
  }
  .float-nav-exp .nav-menu .item-icon {
    width: 24px;
    height: 24px;
    margin: 0 auto 2px;
  }
  .float-nav-exp .nav-menu .item-text {
    line-height: 14px;
  }
  .float-nav-exp .nav-menu .item:hover {
    background-color: #00AEEC;
    background-color: var(--brand_blue);
    color: #fff;
    fill: #fff;
  }
  .float-nav-exp .nav-menu .item.backup {
    padding: 8px 0;
    margin-bottom: 0;
  }
  .float-nav-exp .nav-menu .item.backup .item-icon {
    height: 8px;
  }
  .float-nav-exp .nav-menu .item.backold {
    padding: 8px 0;
    margin-top: 10px;
  }
  
.btn-ly {
    color: #fff;
    background-color: #f0f0f844;
    border-color: rgba(150, 164, 175, 0.212);
    border-radius: 20px;
}

.btn-ly:focus,
.btn-ly.focus {
    color: #fff;
    background-color: #f0f0f8;
    border-color: #f0f0f844;
}

.btn-ly:hover {
    color: #fff;
    background-color: #f0f0f8a9;
    border-color: rgba(150, 164, 175, 0.39);
}

.btn-ly:active,
.btn-ly.active,
.open>.dropdown-toggle.ly {
    color: #fff;
    background-color: #286090;
    background-image: none;
    border-color: #204d74;
}
.btn-xy {
    margin-top: 50px;
    border-radius: 20px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-xy:focus,
.btn-xy.focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}

.btn-xy:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-xy:active,
.btn-xy.active,
.open>.dropdown-toggle.xy {
    color: #fff;
    background-color: #449d44;
    background-image: none;
    border-color: #398439;
}

.btn-xy:active:hover,
.btn-xy.active:hover,
.open>.dropdown-toggle.btn-xy:hover,
.btn-xy:active:focus,
.btn-xy.active:focus,
.open>.dropdown-toggle.btn-xy:focus,
.btn-xy:active.focus,
.btn-xy.active.focus,
.open>.dropdown-toggle.btn-xy.focus {
    color: #fff;
    background-color: #398439;
    border-color: #255625;
}

.btn-xy.disabled:hover,
.btn-xy[disabled]:hover,
fieldset[disabled] .btn-xy:hover,
.btn-xy.disabled:focus,
.btn-xy[disabled]:focus,
fieldset[disabled] .xy:focus,
.btn-xy.disabled.focus,
.btn-xy[disabled].focus,
fieldset[disabled] .btn-xy.focus {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-xy .badge {
    color: #5cb85c;
    background-color: #fff;
}
